body{
    background-color:beige
}

.warpper{
    width:100%;
    display:grid;
    grid-template-rows: 80px auto 80px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

h1{
    text-align: left;
    margin-top: 70px;
    font-size: 35px;
}

a{
color: whitesmoke;
text-decoration: none;
font-size: 175%;
}

nav{
    text-decoration: underline;
    /*grid-area: nav;*/
    grid-column: 1/span 8;
    text-decoration: none;
    background-color: #26448a;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
}

nav li{
    list-style-type: none;
    text-align: center;
    display: grid;
    align-self: stretch;
    align-items: stretch;
}

header{
grid-area: header;
display: grid;
grid-template-rows: auto auto;
grid-template-columns: 1fr 7fr;
}

main{
grid-area: main;
}

footer{
grid-area: footer;
background-color: lightgray;
font-size: 150%;
}

img{
    width: 225px;
}