body{
    background-color:beige;
    height: 97vh;
}

.wrapper{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-rows: 220px auto 100px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

h1{
    text-align: left;
    margin-top: 70px;
    font-size: 35px;
}

p{
    font-size: 125%
}

a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 175%;
}

.link{
    text-decoration: underline;
    color:blue;
    font-size: 125%;
}

nav{
    text-decoration: underline;
    /*grid-area: nav;*/
    grid-column: 1/span 8;
    text-decoration: none;
    background-color: #26448a;
}

nav > ul{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    padding: 5px;
}

nav li{
    list-style-type: none;
    text-align: center;
    display: grid;
    align-self: stretch;
    align-items: stretch;
}

header{
    grid-area: header;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 7fr;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: lightgray;
    font-size: 150%;
}

img{
    width: 225px;
}

.pic1{
    width: 500px
}

#spalt main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
}

table{
    width: 90%;
}

td{
    font-size: 110%;
    width:30%;
}

caption{
    font-size: 150%;
    text-align: center;
}

th{
    background-color:#26448a;
    color:whitesmoke;
    font-size: 120%;
}

tr:nth-child(odd){
    background-color:lightgray;
    color:black
}

tr:nth-child(even){
    background-color:white;
    color:black
}

td:nth-child(1){
    text-align:left;
}

td:nth-child(2){
    text-align:center;
}

td:nth-child(3){
    text-align:right;
}

th:nth-child(1){
    text-align:left;
}

th:nth-child(2){
    text-align:center;
}

th:nth-child(3){
    text-align:right;
}